@model FinalProject.MVC.Models.Bid
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proposal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proposal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a href="@Model.AttachmentPath" target="_blank">Download Attachment</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<hr />

<h3>Bid History</h3>
@{
    var eventLogs = ViewBag.EventLogs as List<FinalProject.MVC.Models.EventLogViewModel>;
}

@if (eventLogs != null && eventLogs.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Event</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in eventLogs)
            {
                <tr>
                    <td>@log.EventDate.ToLocalTime()</td>
                    <td>@log.UserDisplayName</td>
                    <td>@log.EventType</td>
                    <td>@log.EventDescription</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No history found for this bid.</p>
}
