@model FinalProject.MVC.Models.Bid
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BidNote)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BidNote)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proposal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proposal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SubmittedTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubmittedTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>
</div>
<div>
    <a href="@Model.AttachmentPath" target="_blank">Download Attachment</a> |
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
